{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
<div class="container">
    {% for article in articles %}
    <div class="row my-2">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target={{'#modal-article-' ~ article.id }}>
            Launch demo modal
        </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id={{'modal-article-' ~ article.id }} tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{article.title}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{article.content}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}